<div class="container bg-light pb-1">
    <div class="row" style="background-color:#323232">

        <h1 class="text-center text-white mx-auto mb-5">Scrapping Massively OP</h1>
        <img src="https://massivelyop.com/wp-content/uploads/2018/09/logo554x180grey-small.png" alt="Massively Overpowered"
            title="MassivelyOP.com">
    </div>
    <div id="articles">
        <div class="row py-4">
            <div class="col-3">
                <img class="rounded thumbnail" src="{{single.image}}" alt=" article image">
            </div>
            <div class="col-9">
                <a href="{{single.link}}" target="_blank">
                    <h3 class="mx-auto text-center">{{single.title}}</h3>
                </a>
                <p class="mb-0"> {{single.text}}</p>
                <a href="/" type="button" class="btn btn-secondary float-right" id="goBackButton">Go
                    Back</a>
            </div>
        </div>
    </div>
    <form class="py-3">
        <div class="form-group">
            <label for="comment-title">Title</label>
            <input type="title" class="form-control" id="comment-title" placeholder="Enter a title">
        </div>
        <div class="form-group">
            <label for="comment-text">Comment</label>
            <input type="comment" class="form-control" id="comment-text" placeholder="Enter your comment">
        </div>
        <button type="submit" class="btn btn-primary" id="submitComment" data-id="{{single._id}}">Submit</button>
    </form>
    {{#each single.comment}}
    <div class="card my-1">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{text}}</p>
            <p class="card-text"><small class="text-muted">{{created_at}}</small></p>
        </div>
    </div>
    {{/each}}
</div>