<div class="container bg-light">
    <div class="row" style="background-color:#323232">

        <h1 class="text-center text-white mx-auto mb-5">Scrapping Massively OP</h1>
        <img src="https://massivelyop.com/wp-content/uploads/2018/09/logo554x180grey-small.png" alt="Massively Overpowered"
            title="MassivelyOP.com">
    </div>
    <div id="articles">
        <div class="row py-4">
            <div class="col-3">
                <img class="rounded thumbnail" src="{{single.image}}" alt=" article image">
            </div>
            <div class="col-9">
                <a href="{{single.link}}" target="_blank">
                    <h3 class="mx-auto text-center">{{single.title}}</h3>
                </a>
                <p class="mb-0"> {{single.text}}</p>
                <a href="/articles/{{_id}}" type="button" class="btn btn-primary float-right" id="commentButton">Comment</a>
            </div>
        </div>
    </div>
</div>

{{!-- <div class="modal bd-example-modal-lg" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{single}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="commentSection">
                    <h4 id="current-title"></h4>
                    <p id="current-comment"></p>
                </div>
                <form>
                    <div class="form-group" id="title">
                        <label for='comment-title' class='col-form-label'>Comment Title</label>
                        <input type='text' class='form-control' id='comment-title'>
                    </div>
                    <div class="form-group" id="comment">
                        <label for='comment-text' class='col-form-label'>Comment</label>
                        <textarea class='form-control' id='comment-text'></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveComment">Save changes</button>
            </div>
        </div>
    </div>
</div> --}}